.textarea {
  width: 90vw;
  height: 30vh;
  padding: 0.5rem;
  font-size: 1.2rem;
  font-family: monospace;
  color: aliceblue;
}

.submitBtn {
  margin: 1rem;
  padding: 0.5rem 1.5rem;
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
}

.submitBtn:hover {
  background-color: blue;
  color: aliceblue;
}
